<div class="property-line">
	<h4>Condition Immunities</h4>
	<p>
		@string.Join(", ", conditionImmunities.Select(i => i.ToString()))
	</p>
</div> <!-- property line -->

@code {
	[Parameter]
	public List<ConditionImmunity> conditionImmunities { get; set; }
}
