<div class="property-line">
	<h4>Condition Immunities</h4>
	<p>
		@conditionImmunities.ToString()
	</p>
</div> <!-- property line -->

@code {
	[Parameter]
	public ConditionImmunities conditionImmunities { get; set; }
}
