@{
    int count = 0; 
}

@foreach (KeyValuePair<DMTools.Shared.Enums.LibraryEnums.DamageType, List<string>> keyVal in dTypes.Dtypes)
{
    if (dTypes.Dtypes[keyVal.Key].Count == 0)
        continue;

    <div class="property-line @((count == 0) ? "first" : "")">
        <h4>@keyVal.Key.GetDescription()</h4>
        <p>@string.Join(", ", keyVal.Value)</p>
    </div> <!-- property line -->
    count++;
}


@code {
    [Parameter]
    public DamageTypes dTypes { get; set; }
}
