<div class="property-line">
	<h4>Languages</h4>
	<p>@languages.ToString()</p>
</div> <!-- property line -->

@code {
    [Parameter]
    public DMTools.StatBlocks.StatBlockHelpers.Languages languages { get; set; }
}
