@foreach (string str in properties.properties.Keys) {
	<div class="property-block">
		<h4>@str</h4>
		<p>
			@properties.properties[str]
		</p>
	</div> <!-- property block -->
}

@code {
	[Parameter]
	public Properties properties { get; set; }
}
