@{
    int count = 0; 
}

@foreach (DamageTypes dType in dTypes)
{
    if (dType.Description.Length == 0)
        continue;

    <div class="property-line @((count == 0) ? "first" : "")">
        <h4>@(((DMTools.Shared.Enums.LibraryEnums.DamageType)dType.Type).GetDescription())</h4>
        <p>@dType.Description</p>
    </div> <!-- property line -->
    count++;
}


@code {
    [Parameter]
    public List<DMTools.Database.Entities.DamageTypes> dTypes { get; set; }
}
