<div class="property-line">
	<h4>Languages</h4>
	<p>@DMTools.Database.Entities.Languages.ToString(this.languages)</p>
</div> <!-- property line -->

@code {
    [Parameter]
    public ICollection<DMTools.Database.Entities.Languages> languages { get; set; }
}
