@foreach (string str in properties.Actions.Keys) {
	<div class="property-block">
		<h4>@str.</h4>
		<p>
			@MarkupExtensions.MarkupString(properties.Actions[str])
		</p>
	</div> <!-- property block -->
}

@code {
	[Parameter]
	public MonsterActions properties { get; set; }
}
