@if (actions.Count() != 0)
{
	<div class="actions">
		<h3>@actions.First().ActionName</h3>
		@foreach (MonsterActions action in actions)
		{
			<div class="property-block">
				<h4>@action.Name.</h4>
				<p>@MarkupExtensions.MarkupString(action.ActionDescription)</p>
			</div> <!-- property block -->
		}
	</div> <!-- actions -->
}

@code {
	[Parameter]
	public ICollection<MonsterActions> actions { get; set; }

	public MarkupString Italicize(string original)
	{
		Regex regex = new Regex(@"_([^_]*)_");
		foreach (Match match in regex.Matches(original))
		{
			// get rid of the stuffs
			string value = match.Groups[1].Value;
			value = "<i>" + value + "</i>";
			original = original.Replace(match.Value, value);
		}
		return new MarkupString(original);
	} 
}
