@page "/register"
@rendermode InteractiveServer
@inject IUserFunctions functions;
<h3>Register</h3>



<form @formname="register-form">

    <div>
        <label>
            Email
            <InputText @bind-Value="User.UserEmail" />
        </label>
        <label>
            Username
            <InputText @bind-Value="User.UserName" />
        </label>
        <label>
            Password
            <input type="password" placeholder="Enter your password" @bind-value="User.Password" />
        </label>
        <label>
            Re-enter password
            <input type="password" placeholder="Re-enter your password" @bind-value="rePassword" />
        </label>
    </div>
    <div>
        <button type="button" @onclick="Submit">Submit</button>
    </div>

</form>


@code {
    public User User { get; set; } = new();
    public string rePassword { get; set; } = string.Empty;

    private void Submit(MouseEventArgs e)
    {
        if (User.Password != rePassword)
        {
            return;
        }

        functions.CreateUser(this.User);
    }
}