<button onclick="window.location = '@Url.Action("Index", "Encounter")'">Encounter</button>
<button onclick="window.location = '@Url.Action("Index", "Names")'">Names</button>
<button onclick="window.location = '@Url.Action("Index", "StatBlock")'">StatBlock</button>
