<AuthorizeView>
    <Authorized>
        <a class="login" href="Account/Logout">Logout<i class="fa-solid fa-right-from-bracket"></i></a>
    </Authorized>
    <NotAuthorized>
        <a class="login" href="Account/Login?redirectUri=/">Login<i class="fa-solid fa-right-to-bracket"></i></a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
