<script src="https://kit.fontawesome.com/373bef5a8d.js" crossorigin="anonymous" type="text/javascript"></script>

<AuthorizeView>
    <Authorized>
        <a class="login" href="Account/Logout">Logout<i class="fa-solid fa-right-from-bracket"></i></a>
    </Authorized>
    <NotAuthorized>
        <a class="login" href="Account/Login?redirectUri=/">Login<i class="fa-solid fa-right-to-bracket"></i></a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
